
.hero-area{
padding-top: 100px;
background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(65,65,195,1) 0%, rgba(51,98,208,1) 38%, rgba(0,212,255,1) 100%);
color: #ffffff;
min-height: 300px;
}
footer{
    background-color: rgb(94, 94, 94);
    color: #fff;
}